*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  height: 100px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(3, 207, 159) 64%);
}

.active{
  background-color: rgb(169, 254, 250);
  color: black
}

.list, .cart{
  color: black !important;
  font-size: 20px;
  background: rgb(0,137,105);
  background: linear-gradient(0deg, rgba(0,137,105,1) 0%, rgba(255,255,255,1) 64%);
}



/* .button{
  height: 30px;
  cursor: pointer;
  border: 1px black solid;
  background: rgb(0,137,105);
background: linear-gradient(0deg, rgba(0,137,105,1) 0%, rgba(255,255,255,1) 64%);
} */


.cardImg{
  width: 250px;
}

#ItemListDiv{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
}

#errorRouteDiv{
  color: red;
  font-size: 200px;
}

img {
  width: 250px;
  height: 300px;
}

#cardItem{
  width: 250px;
}

.navBar{
  border: rgb(109, 255, 221) solid 15px;
}


